html {
  height: 100%;
  width: 100%;
}
body {
  background-color:/* #6f966f*/
  #6aa165;
  /*font-family: Oxygen;*/
}
h1 {
  text-align: center;
  color: white;
  text-shadow: -1.5px 1.5px 4px darkgreen, 1.5px 1.5px 4px darkgreen, 1.5px -1.5px 0 darkgreen, -1.5px -1.5px 0 darkgreen;   
padding-top: 10px;
padding-bottom: 25px;
font-size: 42px;
}

#break-label, #session-label {
  padding-top: 20px;
  text-shadow: -1px 1px 3px darkgreen, 1px 1px 3px darkgreen, 1px -1px 0 darkgreen, -1px -1px 0 darkgreen;   
}

#start_stop, #reset {
  border: 2px solid darkred;
  color: darkred;
  font-weight: 400;
  font-family: Oxygen;
  /*text-shadow: -0.5px 0.5px 0 darkred, 0.5px 0.5px 0 darkred, 0.5px -0.5px 0 darkred, -0.5px -0.5px 0 darkred;*/
  height: 36px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #ddd;
}
#wrapper1 {
  width:300px;
  height: 300px;
  background-color: tomato;
  border-radius: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 48px;
  margin: 10px auto;
  border: solid 6px #820c23;
}

#time-left {
  background-color: #ddd;
  font-size: 32px;
  color: darkred;
  border: 3px solid #820c23;
  height: 60px;
  width: 120px;
  display: flex;
  text-align: center;
  align-items:center;
  justify-content: center;
  border-radius: 10px;
}

#wrapper3 {
  display: block;
}
#rect {
  text-align: top;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
#bg1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#bg2 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#timer-label {
  margin-bottom: 5%;
  text-shadow: -1.5px 1.5px 4px darkred, 1.5px 1.5px 4px darkred,
    1.5px -1.5px 0 darkred,
    -1.5px -1.5px  0 darkred;
  }

  #wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: column;
   
}

#break-label, #session-label {
  font-size: 1.5rem;
  color: #fff;
}
#break-decrement,#break-increment,
#session-decrement, #session-increment,#break-length,#session-length {
  width: 40px;
  height: 40px;
  font-size: 32px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid darkgreen;
  color: darkgreen;
  font-weight: 700;
  border-radius: 3px;
}
#break-length, #session-length {
  font-size: 24px;
  background-color:#eee;
  font-weight: 500;
}

@media screen and (min-width: 550px) {
   #wrapper1 {
     width:320px;
     height:320px;
     border-radius: 160px;
     font-size: 45px;
     margin: 15px auto;
   }

   h1 {
     font-size: 45px;
   }

   #time-left {
     font-size: 40px;
     height: 70px;
     width: 120px;
   }

   #break-label, #session-label {
     font-size: 36px;
   }

   #start_stop, #reset {
     height: 50px;
     font-size: 24px;
   }

   #break-decrement,#break-increment,
#session-decrement, #session-increment,#break-length,#session-length {
         height: 40px;
         width: 40px;
         font-size: 32px;
}
  #break-length, #session-length {
    font-size: 24px;
  }
  }
